@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Libre+Baskerville:wght@400;700&display=swap');

/*
	main-color: #c49b06;
	secondary-color:  #e6e6e6;
*/


@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0rem); 
  } 
}

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;    
  } 
}


/* Configuración general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Lato, sans-serif;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: #000;
}
a img { 
	border: none; 
	vertical-align: middle; 
}
.btn {
	background-color: #c49b06;
	color: #fff;
	padding: .5rem 1rem;
	border-radius: 40px;
}
input.btn {
	border: none;
}
p {
	margin-bottom: 1.3rem;
}
p.heading {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;	
	margin-bottom: 1.1rem;
	text-align: center;
}
p.heading--big {
	font-size: 1.8rem;
}
#mainBanner p.heading--big {
	animation: moveFromBottom 1.8s ease-in-out;
	animation-delay: .5s;
  animation-fill-mode: backwards;
}
#mainBanner p {
	animation: moveFromBottom 1.8s ease-in-out;
	animation-delay: .9s;
  animation-fill-mode: backwards;
}
#mainBanner a.btn {
	animation: moveFromBottom 1.8s ease-in-out;
	animation-delay: 1.3s;
  animation-fill-mode: backwards;
}
p.heading--medium {
	font-size: 1.65rem;
}
.pregunta p:first-child {
	color: #c49b06;
}
ul.copy {
	margin: -1rem 0 1.3rem;
}
li {
	list-style: none;
	/*padding-left: .2rem;*/
}
li:before {
	content: "- ";
}
span.brand {
	font-weight: 700;
}
.sections {
	padding-top: 1.25rem;
}
.centered {
	max-width: 900px;
	margin: auto;
	/*display: flex;
	flex-direction: column;*/
}
.content {
	padding: 1.6rem 1rem;
}
.desk {
	display: none;
}

/* Secciones */
header.container-fluid .row, header.container-fluid .row nav {
	width: 100% !important;
}
header {
	width: 100%;	
	position: fixed;
/*	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;*/
	background: white;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: .8rem;
	z-index: 2000;
}
header #logo {
	padding: .8rem;
}
header nav.navbar {
	margin-bottom: 0;
	padding:  0.75rem 1rem;
	padding-right: 0;
}
.navbar-collapse {
	flex-grow: 0;
}
.navbar-expand-lg {
	justify-content: space-between;
}
#navbarSupportedContent ul, #sociales {
	text-align: right;
}
#sociales a {
	margin-left: 8px;
	font-size: 18px;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: white
}
.navbar-light .navbar-toggler {
	border: none;
	padding: 0;
}
#logo a, a.navbar-brand {
	background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20213.69%2046.87%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bisolation%3Aisolate%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%3Cg%20id%3D%22Group_23%22%20data-name%3D%22Group%2023%22%3E%3Cpath%20id%3D%22Path_1%22%20data-name%3D%22Path%201%22%20d%3D%22M24.34%2C7.58c1%2C4.8-.81%2C9.23-4%2C9.89s-6.61-2.7-7.59-7.5.8-9.23%2C4-9.89S23.35%2C2.78%2C24.34%2C7.58Z%22%2F%3E%3Cpath%20id%3D%22Path_2%22%20data-name%3D%22Path%202%22%20d%3D%22M11.29%2C18.35c1.72%2C4.18.78%2C8.53-2.1%2C9.71S2.58%2C26.82.86%2C22.64.08%2C14.11%2C3%2C12.92%2C9.57%2C14.16%2C11.29%2C18.35Z%22%2F%3E%3Cpath%20id%3D%22Path_3%22%20data-name%3D%22Path%203%22%20d%3D%22M32.53%2C7.58c-1%2C4.8.81%2C9.23%2C4%2C9.89s6.6-2.7%2C7.59-7.5-.81-9.23-4-9.89S33.52%2C2.78%2C32.53%2C7.58Z%22%2F%3E%3Cpath%20id%3D%22Path_4%22%20data-name%3D%22Path%204%22%20d%3D%22M45.59%2C18.35c-1.72%2C4.18-.78%2C8.53%2C2.1%2C9.71S54.3%2C26.82%2C56%2C22.64s.78-8.53-2.1-9.72S47.31%2C14.16%2C45.59%2C18.35Z%22%2F%3E%3Cpath%20id%3D%22Path_5%22%20data-name%3D%22Path%205%22%20d%3D%22M15.84%2C46.86a6%2C6%2C0%2C0%2C1-6.28-5.81%2C5.42%2C5.42%2C0%2C0%2C1%2C0-.57c0-5.33%2C7.32-21.12%2C19-21.12s19%2C15.79%2C19%2C21.12a6.06%2C6.06%2C0%2C0%2C1-5.71%2C6.38h-.57c-9.39%2C0-7.11-8-7.11-8s3.95.25%2C4.49-2.5a.61.61%2C0%2C0%2C0%2C.64-.58.31.31%2C0%2C0%2C0%2C0-.1c0-.68-1.36-1.85-1.25-3.07s.43-2.84-2.6-4.59-3.5-4.67-3.12-5.68A4.81%2C4.81%2C0%2C0%2C0%2C28.91%2C27s-3.38.34-4.75%2C4.76S21.94%2C46.86%2C15.84%2C46.86Z%22%2F%3E%3Cg%20id%3D%22Group_4%22%20data-name%3D%22Group%204%22%3E%3Cg%20id%3D%22Group_2%22%20data-name%3D%22Group%202%22%3E%3Cg%20id%3D%22Group_1%22%20data-name%3D%22Group%201%22%3E%3Cg%20id%3D%22tus_patitas%22%20data-name%3D%22tus%20patitas%22%20class%3D%22cls-1%22%3E%3Cg%20class%3D%22cls-1%22%3E%3Cpath%20d%3D%22M66.3%2C3.68H80v4H75.35V31.86H70.93V7.7H66.3Z%22%2F%3E%3Cpath%20d%3D%22M86.14%2C3.68V25.42c0%2C2%2C.89%2C2.73%2C2.29%2C2.73s2.3-.72%2C2.3-2.73V3.68h4.18V25.13c0%2C4.51-2.25%2C7.09-6.6%2C7.09s-6.6-2.58-6.6-7.09V3.68Z%22%2F%3E%3Cpath%20d%3D%22M103.89%2C3.36c4.31%2C0%2C6.52%2C2.57%2C6.52%2C7.08v.89h-4.19V10.16c0-2-.8-2.78-2.21-2.78s-2.21.77-2.21%2C2.78.88%2C3.58%2C3.78%2C6.12c3.7%2C3.26%2C4.87%2C5.59%2C4.87%2C8.81%2C0%2C4.51-2.25%2C7.09-6.6%2C7.09s-6.6-2.58-6.6-7.09V23.36h4.18v2c0%2C2%2C.89%2C2.73%2C2.3%2C2.73s2.29-.72%2C2.29-2.73-.88-3.59-3.78-6.12c-3.71-3.26-4.87-5.6-4.87-8.82C97.37%2C5.93%2C99.58%2C3.36%2C103.89%2C3.36Z%22%2F%3E%3Cpath%20d%3D%22M132.34%2C10.64v3.67c0%2C4.5-2.17%2C7-6.6%2C7h-2.09V31.86h-4.43V3.68h6.52C130.17%2C3.68%2C132.34%2C6.13%2C132.34%2C10.64ZM123.65%2C7.7v9.54h2.09c1.41%2C0%2C2.17-.64%2C2.17-2.65V10.36c0-2-.76-2.66-2.17-2.66Z%22%2F%3E%3Cpath%20d%3D%22M148.2%2C31.86h-4.47L143%2C26.74h-5.44l-.76%2C5.12H132.7l4.51-28.18h6.48Zm-10.1-8.94h4.26L140.27%2C8.67h-.08Z%22%2F%3E%3Cpath%20d%3D%22M147.43%2C3.68h13.69v4h-4.63V31.86h-4.43V7.7h-4.63Z%22%2F%3E%3Cpath%20d%3D%22M163.05%2C3.68h4.42V31.86h-4.42Z%22%2F%3E%3Cpath%20d%3D%22M169.41%2C3.68h13.68v4h-4.63V31.86H174V7.7h-4.62Z%22%2F%3E%3Cpath%20d%3D%22M197.82%2C31.86h-4.47l-.76-5.12h-5.44l-.76%2C5.12h-4.07l4.51-28.18h6.48Zm-10.1-8.94H192L189.89%2C8.67h-.08Z%22%2F%3E%3Cpath%20d%3D%22M205.83%2C3.36c4.31%2C0%2C6.52%2C2.57%2C6.52%2C7.08v.89h-4.19V10.16c0-2-.8-2.78-2.21-2.78s-2.21.77-2.21%2C2.78.88%2C3.58%2C3.78%2C6.12c3.7%2C3.26%2C4.87%2C5.59%2C4.87%2C8.81%2C0%2C4.51-2.25%2C7.09-6.6%2C7.09s-6.6-2.58-6.6-7.09V23.36h4.18v2c0%2C2%2C.89%2C2.73%2C2.3%2C2.73s2.29-.72%2C2.29-2.73-.88-3.59-3.78-6.12c-3.71-3.26-4.87-5.6-4.87-8.82C199.31%2C5.93%2C201.52%2C3.36%2C205.83%2C3.36Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20id%3D%22CUIDADOS_CON_AMOR_DE_FAMILIA%22%20data-name%3D%22CUIDADOS%20CON%20AMOR%20DE%20FAMILIA%22%20class%3D%22cls-1%22%3E%3Cg%20class%3D%22cls-1%22%3E%3Cpath%20d%3D%22M73.94%2C42.65a2.39%2C2.39%2C0%2C0%2C1-.8%2C1.71%2C2.82%2C2.82%2C0%2C0%2C1-1.91.63%2C2.5%2C2.5%2C0%2C0%2C1-2-.88%2C3.55%2C3.55%2C0%2C0%2C1-.75-2.39V41.3a4%2C4%2C0%2C0%2C1%2C.35-1.71%2C2.55%2C2.55%2C0%2C0%2C1%2C1-1.14%2C2.75%2C2.75%2C0%2C0%2C1%2C1.48-.39%2C2.8%2C2.8%2C0%2C0%2C1%2C1.88.62A2.59%2C2.59%2C0%2C0%2C1%2C74%2C40.44H72.56a1.14%2C1.14%2C0%2C0%2C0-1.31-1.24%2C1.16%2C1.16%2C0%2C0%2C0-1%2C.5%2C2.79%2C2.79%2C0%2C0%2C0-.36%2C1.54v.51a3%2C3%2C0%2C0%2C0%2C.33%2C1.6%2C1.17%2C1.17%2C0%2C0%2C0%2C1%2C.5%2C1.39%2C1.39%2C0%2C0%2C0%2C1-.29%2C1.34%2C1.34%2C0%2C0%2C0%2C.36-.91Z%22%2F%3E%3Cpath%20d%3D%22M79.79%2C38.15v4.44a2.27%2C2.27%2C0%2C0%2C1-.69%2C1.75%2C3.08%2C3.08%2C0%2C0%2C1-3.76%2C0%2C2.22%2C2.22%2C0%2C0%2C1-.71-1.72V38.15H76V42.6a1.32%2C1.32%2C0%2C0%2C0%2C.31%2C1%2C1.24%2C1.24%2C0%2C0%2C0%2C.88.3c.78%2C0%2C1.18-.41%2C1.19-1.23V38.15Z%22%2F%3E%3Cpath%20d%3D%22M82.25%2C44.89H80.86V38.15h1.39Z%22%2F%3E%3Cpath%20d%3D%22M83.38%2C44.89V38.15h2.07a3.13%2C3.13%2C0%2C0%2C1%2C1.59.4%2C2.87%2C2.87%2C0%2C0%2C1%2C1.1%2C1.14%2C3.53%2C3.53%2C0%2C0%2C1%2C.39%2C1.68v.31a3.49%2C3.49%2C0%2C0%2C1-.39%2C1.67%2C2.79%2C2.79%2C0%2C0%2C1-1.09%2C1.14%2C3.23%2C3.23%2C0%2C0%2C1-1.59.4Zm1.38-5.61v4.5h.68a1.5%2C1.5%2C0%2C0%2C0%2C1.24-.54%2C2.33%2C2.33%2C0%2C0%2C0%2C.44-1.52v-.36a2.45%2C2.45%2C0%2C0%2C0-.42-1.55%2C1.5%2C1.5%2C0%2C0%2C0-1.25-.53Z%22%2F%3E%3Cpath%20d%3D%22M93.18%2C43.5H90.75l-.46%2C1.39H88.81l2.51-6.74h1.29l2.52%2C6.74H93.65Zm-2.06-1.12h1.69L92%2C39.85Z%22%2F%3E%3Cpath%20d%3D%22M95.6%2C44.89V38.15h2.07a3.08%2C3.08%2C0%2C0%2C1%2C1.59.4%2C2.81%2C2.81%2C0%2C0%2C1%2C1.1%2C1.14%2C3.53%2C3.53%2C0%2C0%2C1%2C.39%2C1.68v.31a3.6%2C3.6%2C0%2C0%2C1-.38%2C1.67%2C2.85%2C2.85%2C0%2C0%2C1-1.09%2C1.14%2C3.23%2C3.23%2C0%2C0%2C1-1.59.4ZM97%2C39.28v4.5h.67a1.48%2C1.48%2C0%2C0%2C0%2C1.24-.54%2C2.33%2C2.33%2C0%2C0%2C0%2C.44-1.52v-.36a2.45%2C2.45%2C0%2C0%2C0-.42-1.55%2C1.5%2C1.5%2C0%2C0%2C0-1.25-.53Z%22%2F%3E%3Cpath%20d%3D%22M107.14%2C41.68a4.12%2C4.12%2C0%2C0%2C1-.35%2C1.74%2C2.67%2C2.67%2C0%2C0%2C1-1%2C1.16%2C2.95%2C2.95%2C0%2C0%2C1-3%2C0%2C2.66%2C2.66%2C0%2C0%2C1-1-1.15%2C3.92%2C3.92%2C0%2C0%2C1-.36-1.72v-.33a4%2C4%2C0%2C0%2C1%2C.36-1.75%2C2.64%2C2.64%2C0%2C0%2C1%2C1-1.17%2C3%2C3%2C0%2C0%2C1%2C3%2C0%2C2.7%2C2.7%2C0%2C0%2C1%2C1%2C1.17%2C4%2C4%2C0%2C0%2C1%2C.36%2C1.74Zm-1.41-.31a2.78%2C2.78%2C0%2C0%2C0-.38-1.61%2C1.22%2C1.22%2C0%2C0%2C0-1.08-.55%2C1.23%2C1.23%2C0%2C0%2C0-1.08.54%2C2.9%2C2.9%2C0%2C0%2C0-.39%2C1.6v.33a2.91%2C2.91%2C0%2C0%2C0%2C.38%2C1.6%2C1.33%2C1.33%2C0%2C0%2C0%2C2.17%2C0%2C2.84%2C2.84%2C0%2C0%2C0%2C.38-1.6Z%22%2F%3E%3Cpath%20d%3D%22M111.48%2C43.12a.72.72%2C0%2C0%2C0-.27-.6%2C3.59%2C3.59%2C0%2C0%2C0-1-.44%2C6.4%2C6.4%2C0%2C0%2C1-1.15-.47%2C1.87%2C1.87%2C0%2C0%2C1-1.15-1.67%2C1.65%2C1.65%2C0%2C0%2C1%2C.31-1%2C2%2C2%2C0%2C0%2C1%2C.89-.67%2C3.3%2C3.3%2C0%2C0%2C1%2C1.29-.24%2C3.13%2C3.13%2C0%2C0%2C1%2C1.29.26%2C2.06%2C2.06%2C0%2C0%2C1%2C.88.74%2C2%2C2%2C0%2C0%2C1%2C.31%2C1.08h-1.39a.92.92%2C0%2C0%2C0-.29-.72%2C1.22%2C1.22%2C0%2C0%2C0-.82-.26%2C1.28%2C1.28%2C0%2C0%2C0-.79.22.68.68%2C0%2C0%2C0-.29.57.65.65%2C0%2C0%2C0%2C.33.55%2C3.7%2C3.7%2C0%2C0%2C0%2C1%2C.42%2C4.22%2C4.22%2C0%2C0%2C1%2C1.73.88%2C1.76%2C1.76%2C0%2C0%2C1%2C.54%2C1.32%2C1.62%2C1.62%2C0%2C0%2C1-.66%2C1.37%2C3%2C3%2C0%2C0%2C1-1.79.5A3.38%2C3.38%2C0%2C0%2C1%2C109%2C44.7a2.22%2C2.22%2C0%2C0%2C1-1-.78%2C2%2C2%2C0%2C0%2C1-.33-1.15h1.39c0%2C.75.44%2C1.12%2C1.33%2C1.12a1.36%2C1.36%2C0%2C0%2C0%2C.78-.2A.67.67%2C0%2C0%2C0%2C111.48%2C43.12Z%22%2F%3E%3Cpath%20d%3D%22M121.15%2C42.65a2.39%2C2.39%2C0%2C0%2C1-.8%2C1.71%2C2.82%2C2.82%2C0%2C0%2C1-1.91.63%2C2.5%2C2.5%2C0%2C0%2C1-2-.88%2C3.55%2C3.55%2C0%2C0%2C1-.75-2.39V41.3a4%2C4%2C0%2C0%2C1%2C.35-1.71%2C2.55%2C2.55%2C0%2C0%2C1%2C1-1.14%2C2.75%2C2.75%2C0%2C0%2C1%2C1.48-.39%2C2.8%2C2.8%2C0%2C0%2C1%2C1.88.62%2C2.59%2C2.59%2C0%2C0%2C1%2C.82%2C1.76h-1.39a1.14%2C1.14%2C0%2C0%2C0-1.31-1.24%2C1.16%2C1.16%2C0%2C0%2C0-1%2C.5%2C2.79%2C2.79%2C0%2C0%2C0-.36%2C1.54v.51a3%2C3%2C0%2C0%2C0%2C.33%2C1.6%2C1.17%2C1.17%2C0%2C0%2C0%2C1%2C.5%2C1.39%2C1.39%2C0%2C0%2C0%2C1-.29%2C1.34%2C1.34%2C0%2C0%2C0%2C.36-.91Z%22%2F%3E%3Cpath%20d%3D%22M127.44%2C41.68a4.12%2C4.12%2C0%2C0%2C1-.35%2C1.74%2C2.67%2C2.67%2C0%2C0%2C1-1%2C1.16%2C2.95%2C2.95%2C0%2C0%2C1-3%2C0%2C2.66%2C2.66%2C0%2C0%2C1-1-1.15%2C3.92%2C3.92%2C0%2C0%2C1-.36-1.72v-.33a4%2C4%2C0%2C0%2C1%2C.36-1.75%2C2.64%2C2.64%2C0%2C0%2C1%2C1-1.17%2C3%2C3%2C0%2C0%2C1%2C3%2C0%2C2.7%2C2.7%2C0%2C0%2C1%2C1%2C1.17%2C4%2C4%2C0%2C0%2C1%2C.36%2C1.74ZM126%2C41.37a2.78%2C2.78%2C0%2C0%2C0-.38-1.61%2C1.22%2C1.22%2C0%2C0%2C0-1.08-.55%2C1.23%2C1.23%2C0%2C0%2C0-1.08.54%2C2.9%2C2.9%2C0%2C0%2C0-.39%2C1.6v.33a2.91%2C2.91%2C0%2C0%2C0%2C.38%2C1.6%2C1.33%2C1.33%2C0%2C0%2C0%2C2.17%2C0%2C2.84%2C2.84%2C0%2C0%2C0%2C.38-1.6Z%22%2F%3E%3Cpath%20d%3D%22M133.77%2C44.89h-1.39l-2.7-4.43v4.43h-1.39V38.15h1.39l2.71%2C4.45V38.15h1.38Z%22%2F%3E%3Cpath%20d%3D%22M140.83%2C43.5h-2.44l-.46%2C1.39h-1.48L139%2C38.15h1.29l2.53%2C6.74H141.3Zm-2.06-1.12h1.69l-.85-2.53Z%22%2F%3E%3Cpath%20d%3D%22M145.06%2C38.15%2C146.79%2C43l1.72-4.89h1.83v6.74h-1.4V43.05l.14-3.18-1.82%2C5h-.95l-1.82-5%2C.14%2C3.18v1.84h-1.39V38.15Z%22%2F%3E%3Cpath%20d%3D%22M156.93%2C41.68a4.12%2C4.12%2C0%2C0%2C1-.35%2C1.74%2C2.67%2C2.67%2C0%2C0%2C1-1%2C1.16%2C2.95%2C2.95%2C0%2C0%2C1-3%2C0%2C2.66%2C2.66%2C0%2C0%2C1-1-1.15%2C3.92%2C3.92%2C0%2C0%2C1-.36-1.72v-.33a4%2C4%2C0%2C0%2C1%2C.36-1.75%2C2.58%2C2.58%2C0%2C0%2C1%2C1-1.17%2C3%2C3%2C0%2C0%2C1%2C3%2C0%2C2.7%2C2.7%2C0%2C0%2C1%2C1%2C1.17%2C4%2C4%2C0%2C0%2C1%2C.36%2C1.74Zm-1.41-.31a2.86%2C2.86%2C0%2C0%2C0-.38-1.61%2C1.22%2C1.22%2C0%2C0%2C0-1.08-.55%2C1.23%2C1.23%2C0%2C0%2C0-1.08.54%2C2.9%2C2.9%2C0%2C0%2C0-.39%2C1.6v.33a2.91%2C2.91%2C0%2C0%2C0%2C.38%2C1.6%2C1.33%2C1.33%2C0%2C0%2C0%2C2.17%2C0%2C2.84%2C2.84%2C0%2C0%2C0%2C.38-1.6Z%22%2F%3E%3Cpath%20d%3D%22M160.27%2C42.43h-1.1v2.46h-1.39V38.15h2.5a2.89%2C2.89%2C0%2C0%2C1%2C1.85.53%2C1.85%2C1.85%2C0%2C0%2C1%2C.64%2C1.51%2C2.07%2C2.07%2C0%2C0%2C1-.3%2C1.15%2C2%2C2%2C0%2C0%2C1-.9.73L163%2C44.83v.06h-1.49Zm-1.1-1.13h1.12a1.13%2C1.13%2C0%2C0%2C0%2C.81-.27.94.94%2C0%2C0%2C0%2C.28-.73%2C1%2C1%2C0%2C0%2C0-.27-.75%2C1.12%2C1.12%2C0%2C0%2C0-.83-.27h-1.11Z%22%2F%3E%3Cpath%20d%3D%22M165.87%2C44.89V38.15h2.07a3.08%2C3.08%2C0%2C0%2C1%2C1.59.4%2C2.81%2C2.81%2C0%2C0%2C1%2C1.1%2C1.14%2C3.53%2C3.53%2C0%2C0%2C1%2C.39%2C1.68v.31a3.6%2C3.6%2C0%2C0%2C1-.38%2C1.67%2C2.85%2C2.85%2C0%2C0%2C1-1.09%2C1.14%2C3.23%2C3.23%2C0%2C0%2C1-1.59.4Zm1.39-5.61v4.5h.67a1.48%2C1.48%2C0%2C0%2C0%2C1.24-.54%2C2.39%2C2.39%2C0%2C0%2C0%2C.45-1.52v-.36a2.45%2C2.45%2C0%2C0%2C0-.43-1.55%2C1.48%2C1.48%2C0%2C0%2C0-1.25-.53Z%22%2F%3E%3Cpath%20d%3D%22M175.93%2C42h-2.67v1.81h3.13v1.11h-4.52V38.15h4.51v1.13h-3.12v1.6h2.67Z%22%2F%3E%3Cpath%20d%3D%22M183.3%2C42.14h-2.67v2.75h-1.38V38.15h4.39v1.13h-3V41h2.67Z%22%2F%3E%3Cpath%20d%3D%22M187.2%2C43.5h-2.44l-.46%2C1.39h-1.48l2.51-6.74h1.29l2.52%2C6.74h-1.47Zm-2.06-1.12h1.68L186%2C39.85Z%22%2F%3E%3Cpath%20d%3D%22M191.43%2C38.15%2C193.16%2C43l1.72-4.89h1.83v6.74h-1.4V43.05l.14-3.18-1.82%2C5h-.95l-1.82-5%2C.14%2C3.18v1.84h-1.39V38.15Z%22%2F%3E%3Cpath%20d%3D%22M199.23%2C44.89h-1.38V38.15h1.38Z%22%2F%3E%3Cpath%20d%3D%22M201.75%2C43.78h2.95v1.11h-4.34V38.15h1.39Z%22%2F%3E%3Cpath%20d%3D%22M206.81%2C44.89h-1.39V38.15h1.39Z%22%2F%3E%3Cpath%20d%3D%22M211.75%2C43.5h-2.44l-.46%2C1.39h-1.48l2.51-6.74h1.29l2.52%2C6.74h-1.48Zm-2.07-1.12h1.69l-.85-2.53Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat;
		width: 221px;
		height: 46px;
		display: inline-block;
		transition: all .2s ease-in-out;
}
#logo a:hover {
	transform: scale(1.05);
}
header nav {
	margin-bottom: .8rem;
}
header nav li {
	display: inline-block;
	margin: 4px 2px;
}
header nav li:before {
	content: "";
}
header nav li a {
	border-radius: 20px;
	padding: .12rem .8rem .24rem;
	transition: all .3s ease-in-out;
}
header nav li a.active, 
header nav li a:hover {
	background: #666;
	color: #fff;	
}

/* FOOTER? */
.redes a {
	margin: 0 .4rem;
	font-size: 1.3rem;
}
#mainBanner {
	padding: 3rem .675rem 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	/*justify-content: end;*/
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	background: url(../media/header-test.png) no-repeat;
	border-bottom: 1px solid #bfbcbc;
	background-size: contain;
	animation: fadeIn 1.5s ease-in-out;
	animation-delay: 0;
	animation-fill-mode: backwards;
}
#mainBanner__image {
	width: 70%;
}
#mainBanner.inicio {
	background: url('../media/header-index-mobile.jpg') center center no-repeat;	
	background-size: cover;		
}
#mainBanner.servicios-header {
	background: url('../media/header-servicios-mobile.jpg') center center no-repeat;
	background-size: cover;	
}
#mainBanner.somos {
	background: url('../media/header-quienes-somos-mobile.jpg') center center no-repeat;
	background-size: cover;		
}
#mainBanner.preguntas {
	background: url('../media/header-preguntas-mobile.jpg') center center no-repeat;
	background-size: cover;		
}
#mainBanner.contacto {
	background: url('../media/header-contacto-mobile.jpg') center center no-repeat;
	background-size: cover;		
}
header.container-fluid ~ #mainBanner #mainBanner__content {
	margin-top: -14rem;
}
#mainBanner__content {
	margin-top: -7rem;
}
#mainBanner__content a.btn {
	transition: all .2s ease-in-out;
}
#mainBanner__content a.btn:hover {
	background: green;
}

#intro, #introEquipo {
	background-color: #e6e6e6;
}
#introEquipo {
	padding: 1.25rem 0 1px;
}
.sections__content {
	padding: 0 1rem 0;
}
#youtube {
	background: #fff;
}
.sections__media {
	text-align: center;
}
.sections__media img {
	width: 50%;
	margin-bottom: 1.3rem;
}
#servicios .sections__media {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.memberCard {
	text-align: center;
	max-width: 300px;
	padding: 1.3rem 1.3rem 0;
	margin: 0 auto 2.6rem;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
}
.memberCard img {
	max-width: 180px;
	margin-bottom: 1rem;
}
p.nombre {
	font-size: 1.1rem;
	font-weight: 700;
}
p.staffData {
	text-align: left;
}
p.cargo {
	font-style: italic;
	margin-top: -1.2rem;
}
.equipoContainer {
	display: flex;
	flex-wrap: wrap;
}
.equipoContainer .hayEquipo {	
	text-align: center;
	width: 50%;
	padding: 1.3rem;
}
.equipoContainer .hayEquipo img {
	margin-bottom: 1.3rem;
	max-width: 200px;
}	
.mediaFeatured {
	margin-top: 2rem;
}
#inicio__galeria {
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(230,230,230,1) 16%, rgba(230,230,230,1) 84%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
	padding: 2rem 0;
	margin-bottom: 2rem;
}
#galeria .centered {
	width: 97%;
}
#inicio__galeria img {
	border-radius: 8px;
}
#wapp {
	max-width: 60px;
	position: fixed;
	bottom: 6px;
	right: 8px;
}
footer {
	background: #c49b06;
	padding: 1.2rem;
}
footer,
footer .redes a {
	color: #fff;
}
.contactoForm, .cuestionario {
	width: 90%;
	margin: auto;
}
.contactoForm {
	max-width: 600px;
}
.cuestionario {
	max-width: 900px;
}
form {
	padding: 1rem;
}
label {
	width: 70px;
	display: inline-block;
}
input, select,fieldset, legend, textarea	{
	margin-bottom: .4rem;
}
input, textarea {
	padding: .6rem;
	font-family: inherit;
	margin-bottom: 1rem;
}
input[type='text'], textarea {
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 4px;
}
fieldset {
	border: none;
	margin: 1.3rem 0;
}
.newsletter {
	margin-bottom: 1.3rem;
}
.controles {
	text-align: center;
}
.controles input {
	margin: 0 1rem;
}

section {
	padding-top: 2.375rem;
}

@media screen and (min-width: 767px) {
	p.mobile {
		display: none;
	}
	p.desk {
		display: block;
		text-align: left;
	}	
	#mainBanner__content p {
		font-size: 1.3rem;
		/*padding: 0 3rem;*/
		margin-bottom: 2rem;
	}
	#mainBanner__content p.heading--big {
		font-size: 3.4rem;
	}
	#mainBanner__image {
		width: 60%;
	}
	#intro .sections__content, #introEquipo .sections__content {
		padding: 1rem;
	}
	#youtube {
		background: #e6e6e6;
	}
	#intro .centered .sections__media iframe {
		margin-bottom: -3px;
	}
	.sections__content, #galeria .centered {
		width: 80%;
		margin: 0 auto;
	}
	#servicios .sections__media {
		flex-wrap: nowrap;
	}
	#servicios .sections__media img {
		width: 25%;
	}
	.sections__media img {
		margin-bottom: 0;
	}
	#equipo.centered {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		max-width: 615px;		
		margin-bottom: 3rem;
	}
	#mapa {
		margin-bottom: -6px;
	}
	.memberCard {
		margin-bottom: 10px;
	}
	.centered.servicios {
		display: flex;
		width: 90%;
		margin-bottom: 2rem;
	}
	.centered.servicios .sections__content {
		margin-top: .5rem;
		padding-top: 0;
	}
	.centered.servicios .sections__media img {
		width: 100%;
	}
	.mediaFeatured {
		margin-top: 1rem;
	}
	.mediaFeatured.sections__media .hayEquipo img {
		width: 24%;
		margin: 1rem;
	}
	#intro .centered p, #introEquipo p  {
		font-size: 1.1rem;
	}
	.equipoContainer {
		padding-bottom: 3.3rem;
	}
	.equipoContainer .hayEquipo {
		width: 33.33%;
		padding: 1.8rem 1.8rem 0rem;
	}
  
	#galeria .centered {
		width: 80%;
		max-width: 860px;	
	}
	.reverse {
		flex-direction: row-reverse;
	}
	footer {
		text-align: center;
	}
	#mainBanner.inicio {
		background: url('../media/header-index-ipad.jpg') center center no-repeat;	
		background-size: cover;		
	}
	#mainBanner.servicios-header {
		background: url('../media/header-servicios-ipad.jpg') center center no-repeat;
		background-size: cover;	
	}
	#mainBanner.somos {
		background: url('../media/header-quienes-somos-ipad.jpg') center center no-repeat;
		background-size: cover;		
	}
	#mainBanner.preguntas {
		background: url('../media/header-preguntas-ipad.jpg') center center no-repeat;
		background-size: cover;		
	}
	#mainBanner.contacto {
		background: url('../media/header-contacto-ipad.jpg') center center no-repeat;
		background-size: cover;		
	}
	#mainBanner__content {
		margin-top: -27rem;
	}
	header.container-fluid ~ #mainBanner #mainBanner__content {
		margin-top: -32rem;
	}
}


@media screen and (min-width: 1020px) {

	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
	}
	header nav {
		padding-top: 16px;
	}
	header .redes {
		text-align: right;
	}
	#logo {
		text-align: left;
	}
	#intro .centered, #introEquipo .sections {
		display: flex;
		align-items: center;
		padding: 0;
	}
	#intro .centered .sections__content{
		width: 50%;
		padding: 1rem;
	}
	#introEquipo .sections__content {
		width: 60%;
	}
	#introEquipo .sections__content {
		padding-top: 1.8rem;
		padding-left: 3rem;
	}
	#intro .centered .sections__media {
		width: 50%;
	}	
	#introEquipo .sections__media {
		width: 40%;
	}
	#introEquipo .sections__media img {
		width: 40%;
	}
	#intro .centered p, #introEquipo p  {
		font-size: 1.125rem;
	}
	.sections__media.mediaFeatured .hayEquipo {
		padding-left: 64px;
	}
	#introEquipo .sections__media img {
		width: 70%;
	}
	.equipoContainer {
		padding-bottom: 3.3rem;
	}
	.equipoContainer .hayEquipo {
		/*padding: 3.3rem 5rem 0rem;*/
	}
	.memberCard {
		max-width: 400px;
	}	
	.sections__content {
		padding-top: 3rem;
	}
	#mainBanner__content {
		width: 50%;		
	}
	#mainBanner__content p {
		font-size: 2rem;
		text-align: left;
	}
	#mainBanner__content p.heading--big {
		text-align: left;
	}
	#mainBanner.inicio {
		background: url('../media/header-index-full-2.jpg') center center no-repeat;	
		background-size: cover;		
	}
	#mainBanner.servicios-header {
		background: url('../media/header-servicios-full.jpg') center center no-repeat;
		background-size: cover;	
	}
	#mainBanner.somos {
		background: url('../media/header-quienes-somos-full.jpg') center center no-repeat;
		background-size: cover;		
	}
	#mainBanner.preguntas {
		background: url('../media/header-preguntas-full.jpg') center center no-repeat;
		background-size: cover;		
	}
	#mainBanner.contacto {
		background: url('../media/header-contacto-full.jpg') center center no-repeat;
		background-size: cover;		
	}
	#mainBanner {
		align-items: flex-start;
		text-align: left;
		padding-left: 3rem;		
	}
	#mainBanner__content {
		margin-top: 0rem;
	}
	#equipo.centered {
		max-width: 820px;
	}
	.navbar-light .navbar-nav .nav-link {	
		padding: .2rem 1rem;
	}
	header nav.navbar {
		padding:  0.75rem 1rem;
	}
	header.container-fluid ~ #mainBanner #mainBanner__content {
		margin-top: 0rem;
	}
	section#intro {
		padding-top: 0;
	}
	section#intro .row {
		align-items: center;
	}
}	

@media screen and (min-width: 1190px) {
	#header .redes, #logo {
		width: 10%;		
	}
}
	
