
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Libre+Baskerville:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Lato, sans-serif;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: $color-oscuro;
	img { 
		border: none; 
		vertical-align: middle; 
	}
	&.btn {
		background-color: $color-primario;
		color: $color-claro;
		padding: .5rem 2.2rem;
		border-radius: 40px;
		margin: 0 1rem;
		transition: all .2s ease-in-out;
	}
}
input.btn {
	border: none;
}
h2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;	
	margin-bottom: 1.1rem;
	text-align: center;
	&.desk {
		display: none;
	}
}
p {
	margin-bottom: 1.3rem;
	&.heading {
		font-family: 'Libre Baskerville', serif;
		font-weight: 700;	
		margin-bottom: 1.1rem;
		text-align: center;
	}
	&.heading--big {
		font-size: 1.8rem;
	}
	&.heading--medium {
		font-size: 1.65rem;
	}
	&.nombre {
		font-size: 1.1rem;
		font-weight: 700;
	}
	&.cargo {
		font-style: italic;
	}
	&.staffData {
		text-align: left;
	}
	
}
ul.copy {
	margin: -1rem 0 1.3rem;
}
li {
	list-style: none;
	&:before {
		content: "- ";
	}
}
span.brand {
	font-weight: 700;
}
main {
	margin-bottom: 2rem;
}
section {
	padding-top: 1.5rem;
}
footer {
	background: $color-primario;
	padding: 1.2rem;
	color: $color-claro;
	.redes a {
		color: inherit;
		margin: 0 6px;
		font-size: 19px;
	}
}
#wapp {
	max-width: 60px;
	position: fixed;
	bottom: 6px;
	right: 8px;
}